@use 'base/variables' as v;
@use 'base/mixins' as m;
@use "sass:color"; 

.formulario{
    display: flex;
    flex-direction: column;

    &_fieldset{
        border: none;
        margin-top: 1rem;
        padding: 0;
    }
    &_legend{
        color: v.$gris;
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }
    &_campo{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 1.5rem 0;;
    }
    &_contenedor-icono{
        display: flex;
        border-radius: .5rem;
        overflow: hidden;

    }
    &_icono{
        background-color: v.$gris-oscuro;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        i{
            color: v.$blanco;
            font-size: 2rem;
        }
    }
    &_label{
        display: block;
        font-size: 1.8rem;
        color: rgba(v.$negro, .8);
    }
    &_input,
    &_select{
        padding: 1rem;
        border: 1px solid color.adjust(v.$gris-claro, $lightness: -20%);
        border-radius: .5rem;
        width: 95%;
        &:hover{
            border: 2px solid v.$azul;
        }
        &-file{
            border: none;
        }
        &-sociales{
            @extend .formulario_input;
            flex: 1;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0; 
            border-left: none
        }
    }
    &_radio{
        display: flex;
        gap: 2rem;
    }
    &_texto{
        margin-top: 3rem;
    }
    &_imagen{
        max-width: 20rem
    }
    &_listado{
        @include m.tags;
    }
    &_submit{
        @include m.boton(v.$azul, v.$blanco);
        width: auto;
        align-self: flex-start;
        &-registrar{
            width: 100%;
        }
    }
}