@use 'base/variables' as v;
@use 'base/mixins' as m;
@use "sass:color"; 

.navegacion{
    display: flex;
    flex-direction: column;

    @include m.desktop{
        flex-direction: row;
        align-items: center;
    }

    &_enlace{
        color: v.$blanco;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: v.$black;
        padding: 1rem;
        text-align: center;

        &-actual,
        &:hover{
            background-color: v.$blanco;
            color: v.$azul;
        }
    }
}