@use 'variables' as v;
@use 'mixins' as m;

h1, h2, h3 {
    @include m.headings;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
}
.text-center {
    text-align: center;
}

[class$="_heading"]{
    @include m.nombre_pagina;
}

[class$="descripcion"]{
    @include m.descripcion_pagina;
}